snippet tst "Jest test"
test('$1', async () => {
	$2
});
endsnippet

snippet test "Jest async test"
test('$1', async () => {
	$2
});
endsnippet

snippet descr "Jest describe"
describe('$1', () => {
	$2
});
endsnippet

snippet exp "Expect"
expect($1).to$2;
endsnippet
